{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-60">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv6 ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <div class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</div>
          {{ with .Params.description  }}
            <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}

<!--{{ .Page.TableOfContents | replaceRE "<ul>[[:space:]]*<li>[[:space:]]*<ul>" "<ul>" | replaceRE "</ul>[[:space:]]*</li>[[:space:]]*</ul>" "</ul>" |  safeHTML }}-->
<!--{{with .CurrentSection.Title }}<span class="f6 db">{{ . }}</span>{{end}}-->
<!--<h1 class="f3 near-black">-->
<!--      <a href="{{ .RelPermalink }}" class="link black dim">-->
<!--        {{ .Title }}-->
<!--      </a>-->
<!--    </h1>-->
<!--    <div class="nested-links f5 lh-copy nested-copy-line-height">-->
<!--      {{ .Summary }}-->
<!--    </div>-->
<!--{{ with .Page.CurrentSection }}-->
<!--{{ . }}-->
<!--{{ end }}-->

<!--{{ .Render "summary" }}-->

<!--<aside>-->
<!--    <ul>-->
<!--        {{ $currentPage := . }}-->
<!--        {{ range .Site.Menus.main }}-->
<!--            {{ if .HasChildren }}-->
<!--                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">-->
<!--                    <a href="#">-->
<!--                        {{ .Pre }}-->
<!--                        <span>{{ .Name }}</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <ul class="sub-menu">-->
<!--                    {{ range .Children }}-->
<!--                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">-->
<!--                            <a href="{{ .URL }}">{{ .Name }}</a>-->
<!--                        </li>-->
<!--                    {{ end }}-->
<!--                </ul>-->
<!--            {{ else }}-->
<!--                <li>-->
<!--                    <a href="{{ .URL }}">-->
<!--                        {{ .Pre }}-->
<!--                        <span>{{ .Name }}</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            {{ end }}-->
<!--        {{ end }}-->
<!--    </ul>-->
<!--</aside>-->

