<nav class="pv3 ph3 ph4-ns" role="navigation">
    <div class="flex-l justify-between items-center center">
        <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
            {{ with .Site.Params.site_logo }}
            <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}"
                 style="border-radius:50%; height:60px; width:60px;"/>
            {{ else }}
            {{ .Site.Title }}
            {{ end }}
        </a>
        <div class="flex-l items-center">

            <a class="search-menu" href="/search" title="Search">
                <link rel="stylesheet"
                      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <!--        <i class="fa fa-search hover-white no-underline white-90"></i>-->
                <svg class="hover-white no-underline white-90" width="40" height="40" viewBox="0 0 32 32" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.0726 10.4326C12.4801 10.4326 10.4 12.5451 10.4 15.1053C10.4 17.6978 12.5125 19.7779 15.0726 19.7779C17.6651 19.7779 19.7453 17.6654 19.7453 15.1053C19.744 12.544 17.664 10.4326 15.0726 10.4326Z"
                          fill="white"></path>
                    <path d="M16.0327 0.447479C7.42401 0.447479 0.447693 7.4238 0.447693 16.0324C0.447693 24.6398 7.42401 31.6161 16.0314 31.6161C24.64 31.6161 31.6163 24.6398 31.6163 16.0324C31.6163 7.4238 24.64 0.447479 16.0327 0.447479ZM23.6163 24.0324C23.3926 24.2562 23.0401 24.385 22.6563 24.385C22.2726 24.385 21.9526 24.2575 21.6963 24.0324L18.7526 21.0887L18.4651 21.2487C17.4088 21.825 16.2576 22.145 15.0724 22.145C11.1998 22.145 8.06509 19.0087 8.06509 15.1376C8.06509 11.265 11.2013 8.13023 15.0724 8.13023C18.9451 8.13023 22.0798 11.2665 22.0798 15.1376C22.0798 16.5138 21.6961 17.8251 20.9273 18.9776L20.7348 19.2976L23.6473 22.2101C23.8711 22.4664 24.0311 22.7864 24.0311 23.1376C23.9998 23.4563 23.8723 23.7763 23.616 24.0326L23.6163 24.0324Z"
                          fill="white"></path>
                </svg>
            </a>
            {{ $currentpage_link := trim .Page.RelPermalink "/" }}
            {{ $status := "inactive" }}

            {{ partial "i18nlist.html" . }}
            {{ $currentPage := . }}
            {{ if .Site.Menus.main }}

                    <ul id="menu" class="{{ cond (eq $.Site.Language.LanguageDirection " rtl") "pr0 ml3" "pl0 mr3" }}">
                    {{ range .Site.Menus.main }}

                            {{ $url := trim .URL "/" }}
                            <!--        current: {{ $currentpage_link }}-->
                            <!--        url: {{ $url }}-->

                            {{ if (eq $currentpage_link $url) }}
                                    {{ $status = "active" }}
                                    {{ else }}
                                    {{ $status = "inactive" }}
                            {{ end }}


                            {{ if and (ne .Name "Search") (ne .Name "Articles") }}
                                    {{ if .HasChildren }}

                                            <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection " rtl") "pl3" "pr3" }} prett">
                                            <a class="{{ $status }} hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n " pageTitle" . }}">
                                            {{ .Name }} </a> <span style="color:white;"> &#9662; </span>

                                                <ul class="menus">
                                                    {{ range .Children }}
                                                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection " rtl") "pl3" "pr3" }}  child">
                                                            <a class="a-child hover-white no-underline white-90" href="{{ .URL }}"> &#8614; {{ .Name }}</a>
                                                        </li>
                                                    {{ end }}
                                                </ul>
                                            </li>
                                     {{ else }}
                                        <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection " rtl") "pl3" "pr3" }}">
                                            <a class="{{ $status }} hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n " pageTitle" . }}">
                                            {{ .Name }}
                                            </a>
                                            </li>


                                    {{ end }}
                            {{ end }}
                    {{ end }}
                    </ul>
            {{ end }}

            {{ partialCached "social-follow.html" . }}
        </div>
    </div>
</nav>
<style>
  .search-menu {
  width: relative;
  height: relative;
  cursor: pointer;
  font-size: 30px;
  margin-right: 20px;
  opacity: 0.7;
  display: inline;

}
.search-menu:hover {
transition: 0.4s;
opacity: 1
}
.active{
text-decoration: underline pink 6px;
transition:1s;
}

.inactive:hover,.child:hover{
text-decoration: underline pink 3px;
transition:.6s;
}

#menu li {
  float: left;
  display: inline;
  position: relative;
}

#menu a {
  line-height: 35px;
  }

.menus {
background-color:black;
opacity:0.6;
color:yellow;
width: 300px;
}

#menu ul.menus {
  height: auto;
  width: relative;
  position: absolute;
  display: none;
  border: 0;
}


#menu li:hover ul.menus {
  display: block;
}

.a-child{
display:block;
font-size:12px;}


</style>

