{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<article class="center cf pv5 measure-wide-l">
    <h1>
        Are You Lost, Baby Reader !?
    </h1>
    <a href="/" class="btn_lost"><i class="fa fa-home"></i> Take Me to Origin </a>
</article>

<a rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
a.btn_lost {
   appearance: button;
  background-color: DodgerBlue;
  border: none;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

/* Darker background on mouse-over */
.btn_lost:hover {
  background-color: RoyalBlue;
}

    </style>


    {{ end }}

