
{{ define "main" }}


  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
{{ partial "search-form.html" . }}

      <br>
      <div  id="results">

        Enter a keyword above to search this site.
</div>
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>

<style>

    .tc-l {
    display: none;
    }
    .pb6-l {
    padding-bottom:0;
    }
    .a, .a:visited{

    transition: color .15s ease-in;
}


</style>
{{ end }}